# Bỏ qua môi trường ảo Python
.venv/
venv/bin
env/
__pycache__/
venv

# Bỏ qua file dữ liệu vector nặng (mỗi máy sẽ tự sinh ra)
*.pkl

# Bỏ qua các file cấu hình tạm của VS Code hay OS
.vscode/
.DS_Store